#copyright {
  font-size: 12px;
  font-weight: 100;
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
  position: relative;
}

a:hover {
  position: relative;
}

#copyright .copyright_text {
  position: relative;
  right: 10px;
  left: 10px;
  top: -50px;
}

.wpcf7-response-output {
  color: #46b450 !important;
}

.es_subscription_message.error {
  margin-left: -90px;
  position: relative;
  bottom: 30px;
  right: -240px;
}

.wpcf7-form-control-wrap textarea {
  font-family: "garamond-premier-pro-display" !important;
}